<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleIdentifier</key>
	<string>com.creed.vnsea</string>
	<key>RDPxlPackageFiles</key>
	<array>
		<dict>
			<key>destination</key>
			<string>/Applications</string>
			<key>overwrite</key>
			<true/>
			<key>permanent</key>
			<false/>
			<key>source</key>
			<string>app</string>
		</dict>
	</array>
	<key>RDPxlPackageDesc</key>
	<string>VNC client for the iPhone</string>
	<key>RDPxlPackageURL</key>
	<string>http://code.google.com/p/vnsea</string>
	<key>RDPxlPackageFormat</key>
	<integer>1</integer>
	<key>RDPxlPackageIcon</key>
	<string>icon.png</string>
	<key>RDPxlPackageName</key>
	<string>VNsea</string>
	<key>RDPxlPackageVersion</key>
	<string>0.8</string>
	<key>RDPxlPackagerName</key>
	<string>creed</string>
	<key>RDPxlPackagerContact</key>
	<string>flit@ftml.net</string>
</dict>
</plist>
