<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>appVersion</key>
	<string>0.5</string>
	<key>pxlPackURL</key>
	<string>http://vnsea.googlecode.com/files/vnsea_0.5.pxl</string>
	<key>pxlPackBytes</key>
	<integer>182290</integer>
	<key>description</key>
	<string>Many new features, including keyboard, landscape, and zoom!
</string>
</dict>
</plist>
